# Big Data Streaming Packages
pyspark
findspark
confluent-kafka
tweepy

# Utils
requests 
uuid
tqdm

# Data Science
boto3
pandas
pandas-profiling[notebook]
scikit-learn
tensorflow
plotly
seaborn
matplotlib

ipywidgets>=7.5